.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.black-nav {
    min-height: 60px;
    background: rgb(131, 58, 180);
    background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 29, 126, 1) 50%,
        rgba(255, 160, 26, 1) 100%
    );
    color: #fff;
    font-size: 1.2rem;
    line-height: 60px;
    text-align: left;
    padding-left: 30px;
}
.list {
    padding: 20px;
    margin: 8px 10px;
    border-radius: 2%;
    border: 1px solid #aaa;
    text-align: left;
    font-size: 0.8rem;
}
.list h4 {
    margin-bottom: 5px;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
